<div class="position-absolute top-50 start-50 translate-middle">
  <figure class="text-center">
    <blockquote class="blockquote">
      <h2>The Black Elk.</h2>
    </blockquote>
    <figcaption class="blockquote-footer">
      W.I.P. -  <cite title="Source Title"><b>HollowTech</b></cite>
    </figcaption>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path) %>  
      </li>
    <% end %>
  </figure>
</div>