<div class="position-absolute top-50 start-50 translate-middle">
  <figure class="text-center">
    <blockquote class="blockquote">
      <h2>The Black Elk.</h2>
    </blockquote>
    <figcaption class="blockquote-footer">
      W.I.P. -  <cite title="Source Title"><b>HollowTech</b></cite>
    </figcaption>
    </br>
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">
        <% if user_signed_in? %>
          <%= link_to 'Main Menu', home_main_menu_index_path, class:'btn btn-primary btn-lg btn-block' %>
          </br>
          </br>
          <%= link_to 'Logout', destroy_user_session_path, class:'btn btn-primary btn-lg btn-block' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class:'btn btn-primary btn-lg btn-block' %>  
        <% end %>
      </div>
    </div>
  </figure>
</div>