<% render 'home/shared/error_messages'%>

<blockquote class="blockquote">
  <h1>The Black Elk</h1>
</blockquote>
<div class="card shadow-2-strong" style="border-radius: 1rem;">
  <div class="card-body p-5 text-center">
    <% if @stoies != nil %>
      <% @stories.each do |s| %>
        <div class='row'>
          <%= link_to s.title, home_game_index_path(s.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
        </br>
      <% end %>
    <% else %>
      <div class='row'>
        <p> No stories found. </p>
      </div>
    <% end %>
  </div>
</div>
</br>
<div class="col-md-2 d-flex justify-content-center align-items-left">
  <%= link_to 'Back', home_main_menu_index_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>
