<% render 'home/shared/error_messages'%>

<blockquote class="blockquote">
  <h1>The Black Elk</h1>
</blockquote>
<div class="card shadow-2-strong" style="border-radius: 1rem;">
  <div class="card-body p-5 text-center">

  </div>
</div>
</br>
<div class="col-md-2 d-flex justify-content-center align-items-left">
  <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>
