<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show">
    <i class="fa fa-exclamation-triangle"></i>
    <%= content_tag(:message, flash[:alert], :class => "alert")%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible fade show">
    <i class="fa fa-info"></i>
    <%= content_tag(:message, flash[:success], :class => "alert")%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
